h1 {
    margin: auto;
    padding-top: 3%;
    text-align: center;

    font-weight: 700;
    font-size: 3em;
    margin-top: 0.2em;
}
h4{
    font-weight: 700;
}
div {
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Intro */
#intro {
    margin: auto;
    padding-top: 3%;
    text-align: center;

    max-width: 70%;
}
#intro p {
    text-align: justify;
    font-size: large;
}

/* Hardware */
#hardware {
    margin: auto;
    padding-top: 3%;
    text-align: center;

    max-width: 70%;
}
#hardware p {
    text-align: justify;
    font-size: large;
}
#hardware img {
    max-width: 100%;
}

/* Software */
#software {
    margin: auto;
    padding-top: 3%;
    text-align: center;

    max-width: 70%;
}
#software p {
    text-align: justify;
    font-size: large;
}
#software img{
    max-width: 100%;
}

/* Software Skills */
#software-tech {
    margin: auto;
    padding-top: 3%;
    text-align: center;

    max-width: 70%;
}

#software-tech ul {
    text-align: left;
    font-size: larger;
}

/* Footer Section */
#footer footer {
    position: fixed;
    left: 0;
    bottom: -0.6em;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 0.2em;
    color: #fff;
}
